<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="stylesheet" href="/css/styles.css">
        <%- include('./partials/head.ejs')%>
    </head>
    <body>
        <header>
            <%- include('./partials/header.ejs')%>
        </header>
        <main>
            <div class="banner-header">
                <img class="banner" src="/img/C1.PNG" alt="banner">
            </div>
            <section class="main-section-one">
                <h3 class="titulo">Vestidos Cena Blanca</h3>
                <% cena.forEach((prod) => {%>
                <article class="card">
                    <img class="img_prod" src="/img/<%= prod.image %>" alt="Imagen de <%= prod.name%>" >
                    <nav class="card-bottom">
                        <div class="vestido"><%= prod.name%></div>
                        <div class="precio"><%= prod.price%></div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <% }) %>
                <h3 class="titulo">Vestidos de XV</h3>
                <% quince.forEach((prod) => {%>
                <article class="card">
                    <img class="img_prod" src="/img/<%= prod.image %>" alt="Imagen de <%= prod.name%>" >
                    <nav class="card-bottom">
                        <div class="vestido"><%= prod.name%></div>
                        <div class="precio"><%= prod.price%></div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <% }) %>
                <h3 class="titulo">Vestidos de Reina</h3>
                <% reina.forEach((prod) => {%>
                <article class="card">
                    <img class="img_prod" src="/img/<%= prod.image %>" alt="Imagen de <%= prod.name%>" >
                    <nav class="card-bottom">
                        <div class="vestido"><%= prod.name%></div>
                        <div class="precio"><%= prod.price%></div>
                        <div class="comprar">
                            <a href="/">Comprar</a>
                        </div>  
                    </nav>  
                </article>
                <% }) %>
            </section>
        </main>
        <footer>
            <%- include('./partials/footer.ejs')%>
        </footer>
    </body>
</html>