<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/style-buscador.css">
    <%- include('./partials/head.ejs')%>
</head>
<body>
    <header>
        <div class="main-nav">
            <div class="barra-navegacion">
                <form action="/search" method="GET" class="search-form">
                    <button class="b2" type="submit"><i class="fas fa-search"></i></button>
                    <input class="i2" type="text" name="keywords" placeholder="Buscar productos y artículos...">
                </form>
                <form action="/" class="form-button">
                    <button class="close" type="submit">Volver</button>
                </form>
            </div>
        </div>
    </header>
    <main>
        <section class="main-section-one">
            <div class="contenedor">
                <h2 class="prod-title"><%= results.length %> Resultados</h2>
                <div class="cards-cont">

                    <% if( results.length > 0 ){ %>
                    <% results.forEach((prod) => {%>
                    <article class="card">
                        <img class="img_prod" src="/img/<%= prod.image %>" alt="Imagen de <%= prod.name%>" >
                        <nav class="card-bottom">
                            <div class="vestido"><%= prod.name%></div>
                            <div class="precio">$<%= prod.price%></div>
                            <div class="comprar">
                                <a href="/">Comprar</a>
                            </div>  
                        </nav>  
                    </article>
                    <% }) %>
                    <% } else {%>
                        <h2 class="prod-title2">No se han encontrado resultados</h2>
                    <% } %>    
                </div>
            </div>
        </section>
    </main>
</body>
</html>